/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-98: hsl(0, 0%, 98%);
  --color-grey-95: hsl(0, 0%, 95%);
  --color-grey-94: hsl(0, 0%, 94%);
  --color-grey-80: hsl(0, 0%, 80%);
  --color-grey-60: hsl(0, 0%, 60%);
  --color-grey-47: hsl(0, 0%, 47%);
  --color-grey-20: hsl(0, 0%, 20%);
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  color: var(--color-grey-47);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no;
  min-height: 100vh; }

.logo {
  height: 3.25rem;
  margin-left: 3rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: .7rem 2rem;
    background-color: var(--color-grey-95);
    border: none;
    border-radius: 100px;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-94); }
    .search__input::placeholder {
      font-weight: 100;
      color: var(--color-grey-80); }
  .search__btn {
    border: none;
    background-color: transparent; }
    .search__btn:focus {
      outline: none; }
    .search__btn:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-60); }

.user-nav {
  display: flex; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-98);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--color-grey-95);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-20);
  flex: 0 0 18%; }

.hotel-view {
  background-color: #fff;
  flex: 1; }
