.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-98);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-95);
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-20);

    flex: 0 0 18%;
}

.hotel-view {
    background-color: #fff;

    flex: 1;
}